@import '../../../../../statics/core/sass/includes/variables_app_base';
@import '../../../../../statics/core/sass/includes/functions_app_base';
.news-content {

    min-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(112, 112, 112, 0.149);
    padding: pxToRem(50) pxToRem(30);
    border-radius: 15px;

    >* {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    >.title {
        font-family: $fontPublicSans;
        font-weight: $fwSemiBold;
        font-size: pxToRem(30);
        line-height: pxToRem(30+5);
        text-align: center;
        color: var(--second-brand-color);
        margin-bottom: 2rem;
    }

    >.content {
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 15px;
        column-gap: 15px;
    }

    >.footer {
        margin-top: 3rem;
        text-align: center;
    }

    .news-card {
        background-color: white;
        border: 1px solid rgba(112, 112, 112, 0.149);
        border-radius: 8px;
        padding: 1rem 1.5rem;
        width: 48%;
        min-width: 245px;
        max-width: 100%;

        >* {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        >.header {
            display: grid;
            grid-template-columns: auto 45px;
            justify-content: space-between;
            row-gap: 15px;
            font-family: $fontPublicSans;

            >.text {
                >.title {
                    font-weight: $fwMedium;
                    font-size: pxToRem(21);
                    line-height: pxToRem(21+5);
                    color: var(--category-color);
                }

                >.meta {
                    font-weight: $fwRegular;
                    font-size: pxToRem(14);
                    line-height: pxToRem(14+5);
                    color: #707070;

                    >* {
                        display: block;
                    }
                }
            }

            >.image {}
        }

        >.content {
            color: #1B1C1D;
            font-weight: $fwRegular;
            font-size: pxToRem(16);
            line-height: pxToRem(16+5);
        }

        >.footer {}

        &.finished {

            background: #70707026;

            >.header {

                >.text {
                    >.title {
                        color: #1B1C1D;
                    }
                }

                >.image {
                    filter: invert(44%) sepia(14%) saturate(17%) hue-rotate(321deg) brightness(95%) contrast(92%);
                }
            }
        }
    }

    >.non-results-content {

        display: none;
        font-family: $fontPublicSans;
        font-weight: $fwMedium;

        >.title {
            font-size: pxToRem(146);
            line-height: pxToRem(146+5);
            text-align: center;
            color: var(--font-color-two);
            margin-bottom: 2rem;
        }

        >.text {
            font-size: pxToRem(29);
            line-height: pxToRem(29+5);
            text-align: center;
            color: var(--font-color-two);
            width: 380px;
            max-width: 100%;
            margin: 0 auto;
        }

        .image {
            width: 380px;
            max-width: 100%;
            margin: 3rem auto 2rem auto;
        }
    }

    &.non-results {
        overflow: hidden;

        >.non-results-content {
            display: block;
        }
    }

    &.gradient {
        background: transparent linear-gradient(180deg, var(--second-brand-color) 0%, var(--main-brand-color) 100%) 0% 0% no-repeat padding-box;
    }

}

.ui.modal.modal-news-content {

    >.header {

        display: grid;
        grid-template-columns: auto 45px;
        justify-content: flex-start;
        column-gap: 20px;
        row-gap: 15px;
        margin: 0 auto;
        width: max-content;
        max-width: 100%;
        font-family: $fontPublicSans;

        >.text {

            >.title {
                font-weight: $fwMedium;
                font-size: pxToRem(21);
                line-height: pxToRem(21+5);
                color: var(--category-color);
            }

            >.meta {
                font-weight: $fwRegular;
                font-size: pxToRem(14);
                line-height: pxToRem(14+5);
                color: #707070;

                >* {
                    display: block;
                }
            }
        }

        >.image {
            align-self: center;
        }
    }

    >.content {
        color: #1B1C1D;
        font-weight: $fwRegular;
        font-size: pxToRem(16);
        line-height: pxToRem(16+5);
    }
}

.rs-mobile-medium,
.rs-mobile {

    &.news-content {
        .news-card {
            width: 100%;

            >.header {
                column-gap: 15px;

                >.image {
                    align-self: center;
                }
            }

        }

        >.non-results-content {

            >.title {
                font-size: pxToRem(80);
                line-height: pxToRem(80+5);
            }

            >.text {
                font-size: pxToRem(24);
                line-height: pxToRem(24+5);
            }
        }
    }

}
