@import 'imports/variables';
@import url('../fonts/public-sans/public-sans.css?cacheStamp=CACHESTAMP');
@import url('../../fonts/poppins/poppins.css?cacheStamp=CACHESTAMP');

body {
    background-color: $background-color-body;
    margin: $margin-body;
    font-family: $fontPublicSans;
}

.errors-main-container {
    width: 100%;
    height: 100vh;
    background-color: $secondBrandColor;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    >.information-card {
        width: 1050px;
        height: 75%;
        background-color: white;
        border-radius: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 100px;

        >.decored-card {
            width: 650px;
            height: 90%;
            background-color: $mainBrandColor;
            border-radius: 36px;
            position: relative;
            left: -100px;
            background-image: url('../images/errors/masc.svg');
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            >span {
                color: white;
                font-size: 98px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            >img {
                width: 500px;
            }
        }

        >.content {
            max-width: 400px;
            text-align: center;

            .head {
                .title {
                    font-size: 36px;
                    color: $mainBrandColor;
                    font-weight: 600;
                    margin: 0;
                }

                .text {
                    font-size: 21px;
                }
            }

            img.error-image {
                display: none;
            }

            .body {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 27px;
                margin-block: 30px;

                a.btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: white;
                    width: 232px;
                    height: 50px;
                    border-radius: 8px;
                    background-color: #2185D0;
                    font-size: 18px;

                    &.report {
                        background-color: #707070;
                    }
                }

                .data-time {
                    font-size: 27px;
                    color: $mainBrandColor;
                }
            }

            .logo-footer {
                >img {
                    width: 120px;
                    height: auto;
                }
            }
        }
    }

    >.platform-name {
        color: white;
        text-align: center;

        >span {
            font-size: 21px;
        }

        >p {
            margin: 7px;
            font-size: 16px;
        }
    }

    @media screen and (max-width:1300px) {
        >.information-card {
            width: 700px;
            height: 60%;
            padding-right: 30px;

            >.decored-card {
                left: -70px;

                >span {
                    font-size: 40px;
                }

                >img {
                    width: 300px;
                }
            }
        }

    }

    @media screen and (max-width:860px) {
        >.information-card {
            width: 95%;
            height: auto;
            padding-inline: 20px;
            justify-content: center;
            padding-block: 40px;

            >.decored-card {
                display: none;
            }

            >.content {
                .head {
                    .title {
                        font-size: 26px;
                    }

                    .text {
                        font-size: 15px;
                    }
                }

                img.error-image {
                    display: none;
                }

                .body {
                    gap: 15px;
                }
            }
        }
    }
}
