@import 'includes/variables_app_base';
@import 'includes/functions_app_base';
@import 'includes/components/show-data';
@import 'includes/components/placeholders';

//──── RETROCOMPATIBILIDAD INICIO ────────────────────────────────────────────────────────

.container-standard-options {

    justify-content: center;

    &.align-left {
        justify-content: flex-start;
    }

    &.is-child {
        .card {
            &.option {
                margin: 4rem 0.5rem 0rem 0.5rem;
            }
        }
    }

    .card {

        &.option {

            margin: 4rem 2rem 0rem 2rem;
            text-align: center;

            >.content {

                margin-bottom: 1rem;

                .image-container {

                    margin-top: -4rem;
                    margin-bottom: 1.5rem;

                    >.icon {

                        position: relative;
                        display: block;
                        margin: 0 auto;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        background-color: var(--main-brand-color);

                        i.icon {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            margin: 0;
                            padding: 0;
                            font-size: 3rem;
                            color: var(--font-color-two);
                        }

                    }

                    >img {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                    }

                    >.image-bg {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center center;
                    }

                }

            }

            &.alt {

                >.content {

                    .header {
                        color: var(--second-brand-color);
                    }

                    .image-container {

                        >.icon {

                            background-color: var(--second-brand-color);

                            i.icon {
                                color: var(--font-color-two);
                            }

                        }

                    }

                }

            }

            &.warning {

                >.content {

                    .header {
                        color: #CB0000;
                    }

                    .image-container {

                        >.icon {

                            background-color: #CB0000;

                            i.icon {
                                color: var(--font-color-two);
                            }

                        }

                    }

                }

            }

        }

    }

}

.ui-pcs.container-sidebar>.content {

    @mixin titlezone {

        position: relative;
        color: var(--main-brand-color);
        text-align: center;
        font-size: 2rem;
        margin: 0px auto;
        margin-bottom: 2rem;
        padding: 0px 25px;
        width: max-content;
        max-width: 100%;

        &.w-800 {
            width: 800px;
        }

        &.inline-block {
            display: inline-block;
            vertical-align: top;
        }

        &.no-center {
            margin-left: initial;
            margin-right: initial;
            text-align: initial;
        }

        &.no-padding-left {
            padding-left: 0px;
        }

        &.small-padding-left {
            padding-left: 10px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0px;
            width: 100%;
            height: 2px;
            display: block;
            border-bottom: 1.8px solid var(--second-brand-color);
        }

        &.no-underline {
            &::after {
                display: none;
            }
        }

        &.left {
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
        }

        &.small {
            font-size: 1.8rem;
            font-weight: bold;
        }

        &.subtitle {

            >.subtitle {

                position: relative;
                font-size: 1.3rem;
                color: var(--second-brand-color);
                display: block;
                margin-top: 0.5rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    display: block;
                    border-bottom: 1.8px solid var(--second-brand-color);
                }

                &.grey {
                    color: #4A494A;
                }

            }

            &::after {
                display: none;
            }
        }

        >.extra {

            position: relative;
            font-size: 1rem;
            line-height: 1;
            color: #4A494A;
            display: block;
            margin-top: 0.5rem;
            font-size: 1.3rem;
        }

        &.mark {

            font-size: 2.2rem;

            &.subtitle {
                >.subtitle {
                    font-size: 1.8rem;
                    font-weight: bold;

                    &::before {
                        border-bottom-width: 2.5px;
                    }
                }
            }

            &::after {
                border-bottom-width: 2.5px;
            }
        }

    }

    &.with-banner {

        padding: 2rem 5rem 8rem 10rem;

        .banner-zone {
            position: relative;
            z-index: 1;
            margin: -2rem -5rem 0rem -10rem;
            background-image: url(../../../statics/images/dashboard/banner.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding: 10px;
            width: 100vw;
            height: 19vw;

            &.only-color {
                background: linear-gradient(90deg, var(--second-brand-color) 0%, var(--main-brand-color) 16%);

                &.small {
                    width: 100vw;
                    height: 10vw;
                    min-height: 220px;
                }
            }
        }

        &.wide {

            padding-left: 4rem;
            padding-right: 2.5rem;

            .banner-zone {
                margin-left: -4rem;
                margin-right: -2.5rem;
            }

        }

        .info-card {
            position: relative;
            z-index: 2;
            top: 0;
            transform: translateY(-50%);

            .float-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                width: auto;
                height: auto;
                padding: 5px 2px;
                border-radius: 6px;
                font-size: 35px;
                background-color: var(--main-brand-color);
                color: var(--font-color-two);

                &.align-r {
                    left: initial;
                    right: 10px
                }
            }

        }

        @media (max-width: 800px) {

            &,
            &.wide {
                padding: 1rem 1rem 0rem 1rem;

                .banner-zone {
                    margin: -1rem -1rem 0rem -1rem;
                }
            }

            .info-card {
                transform: translateY(-15%);
            }

        }

        @media (max-width: 600px) {
            .banner-zone {
                height: 30vw;

                &.only-color {
                    &.small {
                        min-height: initial;
                        height: 110px;
                    }
                }
            }
        }


    }

    .title-list {
        @include titlezone();
    }

    .title-form {
        @include titlezone();
    }

    .b-center {
        margin: 0 auto;
    }

    .bg-grey,
    &.bg-grey {
        background-color: #E5E5E5;
    }

    .clearfix {

        &::before,
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
    }

    .ui {

        &.button {

            &.custom-color {

                background-color: var(--main-brand-color);
                color: var(--font-color-two);

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }

            }

        }

        &.card {

            &.content-form-card {
                max-width: 800px;

                &.wide {
                    max-width: 1900px;
                }
            }

        }

    }
}

//──── RETROCOMPATIBILIDAD FIN ───────────────────────────────────────────────────────────

//──── Utilidades ────────────────────────────────────────────────────────────────────────

.no-any-padding {
    padding-top: 0rem !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.no-t-padding {
    padding-top: 0px !important;
}

.no-r-padding {
    padding-right: 0px !important;
}

.no-b-padding {
    padding-bottom: 0px !important;
}

.no-l-padding {
    padding-left: 0px !important;
}

.no-t-margin {
    margin-top: 0px !important;
}

.no-r-margin {
    margin-right: 0px !important;
}

.no-b-margin {
    margin-bottom: 0px !important;
}

.no-l-margin {
    margin-left: 0px !important;
}

.no-scroll-y {
    overflow-y: hidden !important;
}

.no-border {
    border: none !important;
}

.global-clearfix {

    &::before,
    &::after {
        display: block;
        content: ' ';
        clear: both;
    }
}

.force-hidden {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

//──── Diseño estándar de módulos ────────────────────────────────────────────────────────
.module-view-container {

    font-family: $fontPoppins;

    .ui {
        &.button {
            font-family: $fontPoppins;
            font-weight: $fwRegular;
            font-size: pxToRem(18);
            line-height: pxToRem(18);
            border-radius: pxToRem(10);
        }

        &.buttons {
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;
            row-gap: 5px;
            max-width: 100%;

            >.ui.button {
                width: 100%;
                max-width: max-content;
                border-radius: pxToRem(10);
            }
        }
    }

    &.limit-size {
        max-width: 1920px;
    }

    //Título de secciones tipo saludo, orientado a home
    .home-hello-section-title {
        font-weight: $fwRegular;
        padding: 45px 0px;
        color: black;

        &.center {
            text-align: center;
        }

        >.title {
            font-size: pxToRem(48);
            line-height: pxToRem(48);
            font-weight: $fwBold;
            margin-bottom: 15px;
        }

        >.subtitle {
            font-size: pxToRem(27);
            line-height: pxToRem(27);
        }
    }

    //Contenedor de elementos en la parte superior
    .header-options {

        display: grid;
        grid-template-columns: 50px minmax(100px, 100%);
        justify-content: flex-start;
        column-gap: 1rem;
        padding-bottom: 2rem;

        &.only-columns {
            grid-template-columns: 100%;
        }

        >.main-options {}

        >.columns {
            display: grid;
            grid-template-columns: 100%;
            column-gap: 1rem;
            row-gap: 1.2rem;

            &.two {
                grid-template-columns: auto auto;
            }

            >.column {
                &.bottom {
                    align-self: flex-end;
                }

                &.right {
                    justify-self: flex-end;
                }

                &.horizontal-middle {
                    align-self: center;
                }
            }
        }

    }

    // Siemple Breadcrumb
    .breadcrumb {
        color: var(--second-brand-color);
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;

        >i {
            margin: 0;
            padding: 0;
        }

        >a {
            color: var(--second-brand-color);
        }

        @media screen and (max-width:800px) {
            padding-top: 70px;
        }
    }

    //Título de secciones simple
    .section-title {

        width: max-content;
        max-width: 100%;

        >* {
            width: max-content;
            max-width: 100%;
        }

        >.title {
            font-weight: $fwBold;
            font-size: pxToRem(35);
            line-height: pxToRem(35+5);
            color: var(--main-brand-color);
            max-width: 100%;
            text-wrap: wrap;

            @media screen and (max-width:1000px) {
                font-size: pxToRem(25);
                line-height: pxToRem(25+5);
            }
        }

        >.description {
            font-weight: $fwRegular;
            font-size: pxToRem(16);
            line-height: pxToRem(16+5);
            color: #1B1C1D;
            text-wrap: wrap;
            margin-top: 5px;
        }

        >.subtitle {
            font-weight: $fwSemiBold;
            font-size: pxToRem(18);
            line-height: pxToRem(18+5);
            color: var(--second-brand-color);
        }

        >.meta {
            font-size: pxToRem(14);
            line-height: pxToRem(14+5);
            color: var(--font-color-one);
        }

    }

    //Contenedor de tablas  
    .container-standard-table {
        position: relative;
        max-width: 1920px;
        padding: pxToRem(30) pxToRem(30) 3rem pxToRem(30);
        overflow-x: auto;
        border: 1px solid rgba(128, 128, 128, 0.26);
        border-radius: 15px;

        >* {
            max-width: 98%;
        }

        table.ui.table {

            &.basic {
                border: none;
            }

            td {
                .cell-container {}

                &.buttons {
                    .cell-container {
                        display: flex;
                        flex: 0 0 auto;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        align-items: center;
                        column-gap: 30px;
                        width: max-content;
                        max-width: 100%;
                        margin: 0 auto;

                        .ui.button {
                            margin: 0;
                        }
                    }
                }
            }

            th {
                font-weight: $fwMedium;
                font-size: pxToRem(18);

                &.buttons {
                    text-align: center;
                    padding-left: pxToRem(75);
                    padding-right: pxToRem(75);
                    width: max-content;
                    max-width: 100%;
                }
            }

        }
    }

    //Contenedor de formularios
    .container-standard-form {

        background-color: white;
        max-width: 1920px;
        border: 1px rgba(112, 112, 112, 0.149) solid;
        border-radius: 15px;
        padding: 2rem 2.5rem;
        container-type: inline-size;
        container-name: container-standard-form;

        &.no-style {
            background-color: none;
            border: none;
            border-radius: 0px;
            padding: 0;
        }

        .tabs-menu-items {
            padding-bottom: 3rem;
            overflow-y: auto;

            >.item {
                cursor: pointer;
            }
        }

        &.no-bg {
            background-color: transparent;
        }

        &.no-border {
            border: none;
        }

        &.brand-color {
            color: white;

            background-color: var(--main-brand-color);

            &.alt {
                background-color: var(--second-brand-color);
            }
        }

        .form-section-title {
            font-weight: $fwMedium;
            color: #001130;
            font-size: pxToRem(21);
            line-height: pxToRem(18);
            padding: pxToRem(15) pxToRem(0);
        }

        .two-columns-section {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            align-items: start;
            column-gap: 15px;
            row-gap: 15px;

            .column {}

            @container container-standard-form (max-width: 1120px) {
                grid-template-columns: 100%;
            }
        }
    }

    //Sobreescritura de formulario fomantic
    form.ui.form {

        input:not([type="file"]) {
            min-height: 52px;
        }

        label {
            font-weight: $fwRegular;
            font-size: pxToRem(16);
            color: #1B1C1D;
        }

        .ui.dropdown {
            min-height: 52px;

            i.dropdown.icon {
                top: 50%;
                transform: translateY(-25%);
            }

            >.text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 14px;
            }

            &.multiple {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                >.text {
                    top: 40%;
                    left: 0px;
                }

                .label {
                    height: max-content;
                    max-height: 100%;
                }

                input.search {
                    //Buscador dentro de dropdown
                    min-height: initial;
                    margin: 0px 0px 0px 5px;
                    width: max-content;
                    max-width: 100%;
                }
            }

            &.natural-height {
                min-height: 2.71428571em; //Verificar tamaño fomantic por defecto
            }
        }
    }

    //Contenedor de tarjetas
    .cards-container-standard {
        position: relative;
        max-width: 1920px;
        padding: 0px 0px 3rem 0px;

        >* {
            max-width: 98%;
        }

        .ui.card {
            word-break: break-word;
        }
    }

    //Datatables en cards
    .table-to-cards {
        background-color: white;
        border: 1px solid rgba(112, 112, 112, 0.149);
        border-radius: 15px;
        padding: 40px;
        max-width: 100% !important;

        .length-pagination {
            display: grid;
            grid-template-columns: auto 60px auto;
            column-gap: 10px;
            row-gap: 2px;
            justify-content: center;
            align-items: center;

            input {
                padding-left: 5px !important;
                padding-right: 5px !important;
            }
        }

        .flex-fields {
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    //Diseño alternativo listado con cards
    .list-cards-container {
        @include list-data-cards();
    }

    //Limitador de contenido genérico
    >.limiter-content {
        position: relative;
        max-width: 1920px;
        margin: 0 auto;

        &.background {
            padding: pxToRem(32);
            border-radius: 15px;
            border: 1px solid rgba(112, 112, 112, 0.15);
            background: #FFF;
        }

        //Botones principales
        .main-buttons {
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            justify-content: end;
            align-content: center;

            .button {
                margin: 0;
                margin-right: 5px;

                &.no-margin {
                    margin-right: 0;
                }
            }
        }
    }

    //Tabs
    .tabs-controls {

        display: flex;
        flex-wrap: wrap;
        flex: 0 0 auto;
        margin-bottom: pxToRem(30);

        >* {

            display: block;
            color: $colorFirst;
            font-weight: $fwMedium;
            font-size: pxToRem(18);
            line-height: pxToRem(18+5);
            background-color: transparent;
            border-radius: 6px;
            transition: 0.5s ease all;
            min-width: 166px;
            padding: pxToRem(12) pxToRem(30);
            text-align: center;
            cursor: pointer;

            &.active {
                color: $colorFirst;
                font-weight: $fwBold;
                background-color: rgba(0, 124, 196, 0.1);
            }
        }
    }

    //Placeholders para cargar archivos
    .form-attachments-regular {

        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 20px;
        justify-content: space-between;
        width: 800px;
        max-width: 100%;

        >.attach-placeholder {
            margin-bottom: 0px;
        }
    }

    .attach-placeholder {
        @include attach-placeholder;
    }

    //Divisor de secciones en formulario
    .section-fields-divider {

        margin-bottom: 20px;

        >.title {

            font-weight: $fwMedium;
            color: var(--main-brand-color);
            word-break: break-word;

            &.h1 {
                font-size: pxToRem(55);
                line-height: pxToRem(55+5);
            }

            &.h2 {
                font-size: pxToRem(40);
                line-height: pxToRem(40+5);
            }

            &,
            &.h3 {
                font-size: pxToRem(30);
                line-height: pxToRem(30+5);
            }

            &.h4 {
                font-size: pxToRem(25);
                line-height: pxToRem(25+5);
            }

            &.h5 {
                font-size: pxToRem(22);
                line-height: pxToRem(22+5);
            }

            &.h6 {
                font-size: pxToRem(18.5);
                line-height: pxToRem(18.5+5);
            }
        }

        >.description {
            margin-top: 10px;
            font-weight: $fwLight;
            font-size: pxToRem(15);
            line-height: pxToRem(15+5);
            color: #AAAAAA;
        }
    }

    //Normalización de enlaces
    a {

        &,
        &:hover,
        &:visited,
        &:hover,
        &:active {
            display: inline-block;
            outline: none;
            text-decoration: none;
        }
    }

    //Utilidades
    .max-w-1200 {
        max-width: 100%;
        width: 1200px;
    }

    .max-w-800 {
        max-width: 100%;
        width: 800px;
    }

    .block-centered {
        margin-left: auto;
        margin-right: auto;
    }

    .ui.dropdown.search.langs {
        width: max-content;
        min-width: 250px;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    //Reponsive
    @media screen and (max-width: $rsLarge3) {

        .header-options {

            column-gap: 1rem;

            >.columns {
                &.two {
                    grid-template-columns: auto;
                }
            }

        }

    }

    @media screen and (max-width: $rsMedium) {

        .header-options {

            column-gap: 0.5rem;

        }

    }
}

//──── IMPRESIÓN ─────────────────────────────────────────────────────────────────────────
@media print {
    @page {
        size: letter portrait;
    }

    body {
        overflow: visible !important;
    }

    .#{$globalClassPcs}.container-sidebar {
        grid-template-columns: 100%;
        overflow: visible !important;
    }

    .#{$globalClassPcs}.topbar-toggle {
        display: none;
    }

    .#{$globalClassPcs}.sidebar-toggle {
        display: none;
    }
}

//──── General ───────────────────────────────────────────────────────────────────────────
//Overlay
body.wait-to-action {
    position: relative;

    &::before {
        position: fixed;
        z-index: 1000;
        display: block;
        content: ' ';
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.386);
    }
}

body.gradient-base {
    background: var(--body-gradient);
}
