#{$parentSelector} .posts-list {

    .ui.card{
        &.horizontal .image{
            width: 400px;
            max-width: 100%;
        }
    }
    
}

#{$parentSelector} .post-image {
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
}

//Contenido de un artículo
#{$parentSelector} .post-content {
    max-width: 720px;
    padding: pxToRem(10) pxToRem(15);
    margin: 0 auto;

    &.wide{
        max-width: initial;
        padding: 0;
    }

    //Sobreescritura de CKEditor
    @import 'ckeditor-overwrites';
}
