@import '../../../../../../statics/core/sass/includes/variables_app_base';
@import '../../../../../../statics/core/sass/includes/functions_app_base';

.explorer-sidebar-content {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;

    >.sidebar {

        padding: 2rem 0.5rem 0.5rem 0.5rem;
        background-color: var(--second-brand-color);
        overflow: auto;

        >.title {
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            color: var(--font-color-two);
        }

        >.content {

            padding: 2rem 0.5rem 0.5rem 0.5rem;

            p,
            span,
            div,
            article,
            a:hover,
            a:active,
            a:visited,
            a {
                &:not(.button) {
                    color: var(--font-color-two);
                }
            }

            .ui {

                &.accordion {

                    padding-left: 2rem;

                    >.content {
                        padding-left: 1rem;
                    }

                }

            }

        }

    }

    >.content {
        padding: 3.5rem 1rem 1rem 1rem;
        overflow: auto;
    }

    @media (min-width: 1025px) {

        grid-template-rows: auto;
        grid-template-columns: 250px auto;

        >.sidebar {
            padding-top: 5rem;

            >.content {

                .items-dropdowns {
                    display: block;

                    .field {
                        display: block;
                        width: 100%;
                    }
                }

            }

        }

    }

}

.container-cards-images-list {
    position: relative;
    max-width: 1920px;
    padding: 0px 0px 3rem 0px;

    >* {
        max-width: 98%;
    }

}

.block-centered {
    margin-left: auto;
    margin-right: auto;
}
