/* abhaya-libre-regular - latin-ext_latin */
@font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 400;
    src: url('files/abhaya-libre-v6-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre Regular'), local('AbhayaLibre-Regular'),
         url('files/abhaya-libre-v6-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('files/abhaya-libre-v6-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('files/abhaya-libre-v6-latin-ext_latin-regular.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-500 - latin-ext_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 500;
    src: url('files/abhaya-libre-v6-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre Medium'), local('AbhayaLibre-Medium'),
         url('files/abhaya-libre-v6-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('files/abhaya-libre-v6-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('files/abhaya-libre-v6-latin-ext_latin-500.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-600 - latin-ext_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 600;
    src: url('files/abhaya-libre-v6-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre SemiBold'), local('AbhayaLibre-SemiBold'),
         url('files/abhaya-libre-v6-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('files/abhaya-libre-v6-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('files/abhaya-libre-v6-latin-ext_latin-600.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-700 - latin-ext_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 700;
    src: url('files/abhaya-libre-v6-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre Bold'), local('AbhayaLibre-Bold'),
         url('files/abhaya-libre-v6-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('files/abhaya-libre-v6-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('files/abhaya-libre-v6-latin-ext_latin-700.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
  /* abhaya-libre-800 - latin-ext_latin */
  @font-face {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-display: fallback;
    font-weight: 800;
    src: url('files/abhaya-libre-v6-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
    src: local('Abhaya Libre ExtraBold'), local('AbhayaLibre-ExtraBold'),
         url('files/abhaya-libre-v6-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('files/abhaya-libre-v6-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
         url('files/abhaya-libre-v6-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('files/abhaya-libre-v6-latin-ext_latin-800.svg#AbhayaLibre') format('svg'); /* Legacy iOS */
  }
