<section class="problems-container" style="background-image: url(${backgroundURL});">
    <a href="${loginLink}" class="back-action">
        <i class="arrow left icon"></i>
        Atrás
    </a>
    <main class="body">
        <div class="header">
            <h2>
                AYUDA PARA INGRESAR
            </h2>
        </div>
        <section class="options">
            <div recovery-user-name class="item">
                <div class="image-container">
                    <img src="statics/login-and-recovery/images/problems/icons/remove-user.svg">
                </div>
                <span>
                    Recuperar usuario
                </span>
            </div>
            <div recovery-user-pass class="item">
                <div class="image-container">
                    <img src="statics/login-and-recovery/images/problems/icons/user-unlock.svg">
                </div>
                <span>
                    Restablecer contraseña
                </span>
            </div>
            <div user-blocked class="item">
                <div class="image-container">
                    <img src="statics/login-and-recovery/images/problems/icons/delete-user.svg">
                </div>
                <span>
                    Usuario bloqueado
                </span>
            </div>
            <div class="item" id="modalNoUserButton">
                <div class="image-container">
                    <img src="statics/login-and-recovery/images/problems/icons/user-slash.svg">
                </div>
                <span>
                    No tengo un usuario
                </span>
            </div>
            <div other-problem-item class="item">
                    <div class="image-container">
                        <img src="statics/login-and-recovery/images/problems/icons/user-gear.svg">
                    </div>
                    <span>
                        Otro problema
                    </span>
                </div>
                <a href="${loginLink}" class="item">
                    <div class="image-container">
                        <img src="statics/login-and-recovery/images/problems/icons/address-card.svg">
                    </div>
                    <span>
                        Iniciar sesión
                    </span>
                </a>
        </section>
        <div class="footer">
            <img src="${partnersImageURL}">
        </div>
    </main>
</section>

<div class="modal-no-user" id="modalNoUser">
    <div class="container-modals" id="backgrodund-modal">
        <div class="card-ui-center" id="cardModal">
            <div class="title">No tengo un usuario</div>
            <div class="description">
                <p>La asignación de usuarios es realizada únicamente por <span class="name">
                        ${owner}
                    </span>, por favor comuníquese directamente con el área encargada y exponga su caso. Si no recuerda ninguno de sus datos de acceso, pero está seguro de contar con un usuario,
                    por favor envíe su nombre, correo y cargo a la Mesa de Ayuda.
                </p>
            </div>
            <div class="actions">
                <button class="btn support" other-problem-item>Solicitar soporte</button>
            </div>
        </div>
    </div>
</div>

<div modal-password class="ui modal user-and-pass">

    <div class="content">

        <div class="head-modal">

            <div class="exit-modal">
                <i close-modal class="times icon"></i>
            </div>

            <div class="titles">
                <h2>
                    Recuperar
                </h2>
                <span>
                    mi contraseña
                </span>
            </div>

        </div>

        <div class="body-modal">
            <div class="content">
                <h2>
                    PASO <span steps>1</span>
                </h2>

                <form steps-form class="ui form">

                    <section class="steps">

                        <div class="step-1">
                            <div class="field">
                                <label>
                                    Ingrese su correo electrónico
                                </label>
                                <input type="email" name="email" placeholder="name@domain.com">
                            </div>
                        </div>

                        <div class="step-2">
                            <p>
                                Ingrese el código enviado a su correo, el correo puede estar en No deseado, por favor revise la carpeta de Spam. El remitente del correo es <span>${valueMailUser}</span>
                            </p>
                            <div class="field">
                                <input type="text" name="code" placeholder="Ingrese el código">
                            </div>
                        </div>

                        <div class="step-3">
                            <p>
                                Su usuarios es: <span user-name></span>
                            </p>
                            <div class="field">
                                <input type="password" name="password" placeholder="Ingrese su nueva contraseña">
                            </div>
                            <div class="field">
                                <input type="password" name="password2" placeholder="Confirme su nueva contraseña">
                            </div>
                        </div>

                    </section>

                    <div class="buttons-action-area">
                        <button only-start has-code type="button">
                            Ya tengo un código
                        </button>
                        <button type="button" class="back">
                            Atrás
                        </button>
                        <button type="submit" class="next">
                            Siguiente
                        </button>
                    </div>
                </form>

                <div class="logo">
                    <img src="${logoURL}">
                </div>

            </div>

        </div>

    </div>

</div>

<div modal-user-name class="ui modal user-and-pass">

    <div class="content">

        <div class="head-modal">

            <div class="exit-modal">
                <i close-modal class="times icon"></i>
            </div>

            <div class="titles">
                <h2>
                    Recuperar
                </h2>
                <span>
                    mi usuario
                </span>
            </div>

        </div>

        <div class="body-modal">
            <div class="content">

                <h2>
                    PASO <span steps>1</span>
                </h2>

                <form class="ui form">

                    <section class="steps">

                        <div class="step-1">
                            <div class="field">
                                <label>
                                    Ingrese su correo electrónico
                                </label>
                                <input type="email" name="email" placeholder="name@domain.com">
                            </div>
                        </div>

                        <div class="step-2">
                            <p>
                                Ingrese el código enviado a su correo, el correo puede estar en No deseado, por favor revise la carpeta de Spam. El remitente del correo es <span>${valueMailUser}</span>
                            </p>
                            <div class="field">
                                <input type="text" name="code" placeholder="Ingrese el código">
                            </div>
                        </div>

                        <div class="step-3">
                            <h3></h3>
                        </div>

                    </section>

                    <div class="buttons-action-area">
                        <button only-start has-code type="button">
                            Ya tengo un código
                        </button>
                        <button type="button" class="back">
                            Atrás
                        </button>
                        <button type="submit" class="next">
                            Siguiente
                        </button>
                    </div>
                </form>

                <div class="logo">
                    <img src="${logoURL}">
                </div>

            </div>

        </div>

    </div>

</div>

<div modal-user-blocked class="ui modal user-and-pass">

    <div class="content">

        <div class="head-modal">

            <div class="exit-modal">
                <i close-modal class="times icon"></i>
            </div>

            <div class="titles">
                <h2>
                    Desbloquear
                </h2>
                <span>
                    mi usuario
                </span>
            </div>

        </div>

        <div class="body-modal">
            <div class="content">

                <h2>
                    PASO <span steps>1</span>
                </h2>

                <form class="ui form">

                    <section class="steps">

                        <div class="step-1">
                            <div class="field">
                                <label>
                                    Ingrese su correo electrónico
                                </label>
                                <input type="email" name="email" placeholder="name@domain.com">
                            </div>
                        </div>

                        <div class="step-2">
                            <p>
                                Ingrese el código enviado a su correo, el correo puede estar en No deseado, por favor revise la carpeta de Spam. El remitente del correo es <span>${valueMailUser}</span>
                            </p>
                            <div class="field">
                                <input type="text" name="code" placeholder="Ingrese el código">
                            </div>
                        </div>

                        <div class="step-3">
                            <h3></h3>
                        </div>

                    </section>

                    <div class="buttons-action-area">
                        <button only-start has-code type="button">
                            Ya tengo un código
                        </button>
                        <button type="button" class="back">
                            Atrás
                        </button>
                        <button type="submit" class="next">
                            Siguiente
                        </button>
                    </div>
                </form>

                <div class="logo">
                    <img src="${logoURL}">
                </div>

            </div>

        </div>

    </div>

</div>

<div modal-user-support class="ui modal user-and-pass">

    <div class="content">

        <div class="head-modal">

            <div class="exit-modal">
                <i close-modal class="times icon"></i>
            </div>

            <div class="titles">
                <h2>
                    Solicitud
                </h2>
                <span>
                    de soporte
                </span>
            </div>

        </div>

        <div class="body-modal">
            <div class="content">

                <form class="ui form">

                    <section class="steps">

                        <div class="step-1">
                            <div class="field">
                                <label>
                                    Ingrese sus nombres
                                </label>
                                <input type="text" name="name" placeholder="Nombres">
                            </div>
                            <div class="field">
                                <label>
                                    Ingrese sus apellidos
                                </label>
                                <input type="text" name="lastname" placeholder="Apellidos">
                            </div>
                            <div class="field">
                                <label>
                                    Ingrese su correo electrónico
                                </label>
                                <input type="email" name="email" placeholder="name@domain.com">
                            </div>
                            <div class="field">
                                <label>
                                    Problema presentado
                                </label>
                                <textarea type="email" name="message" placeholder="Problema presentado"></textarea>
                            </div>
                        </div>

                        <div class="step-2">
                            <h3>SU SOLICITUD DE SOPORTE HA SIDO CREADA</h3>
                            <hr>
                            <p>
                                Será solucionada muy pronto, por favor verifique su correo en las próximas horas.
                                El correo puede estar en "No deseado", por favor revise la carpeta de Spam. El remitente del correo es ${mailSystem}
                            </p>
                        </div>

                    </section>

                    <div class="buttons-action-area">
                        <div></div>
                        <div></div>
                        <button type="submit" class="next">
                            Enviar
                        </button>
                    </div>
                </form>

                <div class="logo">
                    <img src="${logoURL}">
                </div>

            </div>

        </div>

    </div>

</div>

<div class="modal-no-user" notifications-modal>
    <div class="container-modals">
        <div class="card-ui-center">
            <div class="title"></div>
            <div class="description">
                <p></p>
            </div>
            <div class="alert-modal-options"></div>

        </div>
    </div>
</div>

<script>
    const OTHER_PROBLEMS_FORM = "${loginLink}";
    const USER_FORM_LOGIN = "${otherProblemsFormLink}";
</script>
