$gray-light:#959595;
$green:#1bc256;
$gray:#5f5f5f;

.message-component-new-message-modal {
    padding: 2rem;
}

.message-component-message-container {

    max-width: 100%;
    position: relative;

    h2 {
        font-size: 1.5rem !important;
        color: $gray !important;
        padding: 0 1.5rem;
        margin: 1rem !important;
    }

    .courtain {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    [text] {
        font-size: 1.4rem;
        line-height: 1.5rem;
        padding: 0 1rem;
    }

    .message-icon-floating {
        display: none;
        position: fixed;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 50px;
        cursor: pointer;
        z-index: 5;
        transition: all .4s ease;
    }

    .move-toggle {
        transform: translate(-650%, -50%);
    }

    [messages-component-container] {
        [messages-component] {
            display: grid;
            grid-template-columns: 350px 1fr;

            [aside-menu] {
                height: fit-content;
                border: 1px solid $gray-light;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);

                >[send-form] {
                    >[toggle-form] {
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: center;
                        align-items: center;
                        color: $colorFirstOver;
                        cursor: pointer;
                        font-size: 1.5rem;
                        padding: 1.5rem;
                        background-color: $green;
                    }

                    >[messages-component-external-editor] {
                        display: none;
                        padding: 0rem 1rem;
                    }
                }

                >[previews] {

                    max-height: 85vh;
                    min-height: 300px;
                    overflow: auto;

                    [unread] {
                        color: white;
                        background-color: $colorThird;

                    }

                    [opened] {
                        color: white;
                        background-color: $colorThird;
                        opacity: 0.2;

                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &[unread] {
                        >[preview] {
                            background-color: $colorFirst;
                            color: $colorFirstOver;
                            display: grid;
                            grid-template-columns: 50px 1fr;

                            .image-container {
                                img {
                                    border-radius: 50%;
                                    border: 1px solid $gray-light;
                                }
                            }

                            .text-container {
                                margin-left: 1rem;

                                [date] {
                                    display: block;
                                    font-size: 1rem;
                                    color: $gray-light;
                                }

                                [author] {
                                    font-size: 1.3rem;
                                }
                            }

                        }
                    }

                    >[preview] {

                        display: grid;
                        grid-template-columns: 50px 1fr;

                        .image-container {
                            img {
                                border-radius: 50%;
                                border: 1px solid $gray-light;
                            }
                        }

                        .text-container {
                            margin-left: 1rem;

                            [date] {
                                display: block;
                                font-size: 1.2rem;
                                color: $gray-light;
                            }

                            [name] {
                                font-size: 1.3rem;
                            }
                        }

                        position: relative;
                        display: grid;
                        padding: 0.5rem 0.8rem;

                        >[subject] {
                            font-weight: 700;
                            font-size: 1.5rem;
                        }

                        >[date] {
                            font-size: 0.8rem;
                            color: $colorThird;
                        }



                        &.active {
                            background-color: $gray;
                            color: $colorFirstOver;

                            >[date] {
                                color: $colorFirstOver;
                            }
                        }
                    }

                    >[content] {
                        padding: 0.5rem 0.8rem;

                        >[message-detail] {
                            display: grid;
                            margin: 1rem 0.5rem;

                            >[author] {
                                font-size: 0.8rem;
                                color: $colorThird;
                            }

                            >[subject] {
                                font-weight: 700;
                                font-size: 1.5rem;
                            }

                            >[date] {
                                font-size: 1rem;
                                color: $colorThird;
                            }

                            >[text] {
                                margin: 1rem 0rem;
                                font-size: 1.2rem;
                            }
                        }

                        >[reply] {
                            margin: 0 auto;
                            padding: 0rem 1.5rem;
                        }
                    }

                    [dialog] {
                        margin-bottom: 2rem;
                        padding: 0rem 4rem;

                        [sub-message] {
                            display: grid;
                            grid-template-columns: 60px auto;
                            align-items: center;
                            column-gap: 1rem;
                            border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
                            padding-bottom: 1rem;
                            margin-bottom: 1rem;

                            &:last-child {
                                border-bottom: none;
                                padding-bottom: 0;
                                margin-bottom: 0;
                            }

                            &[unread] {
                                >[text] {
                                    color: rgba(255, 0, 0, 1);
                                    font-weight: 900;
                                }
                            }

                            >[data] {
                                >[avatar] {
                                    img {
                                        max-width: 100%;
                                        width: 50px;
                                        height: 50px;
                                    }
                                }
                            }

                            >[text] {
                                transition: 2s ease color;
                            }
                        }
                    }

                }
            }

            >[conversations] {
                margin: 2rem auto;
            }

            [message-component-load-more] {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: center;
                align-items: center;
                color: #fff;
                cursor: pointer;
                font-size: 1.5rem;
                padding: 1rem;
                background-color: #0092d0;
                border: none;
                width: 100%;
            }
        }
    }

    [conversations] {
        margin: 2rem auto;
        max-width: 900px;
        width: 100%;

        .details-container {

            .top-bar {
                display: block;
                margin: 0px;
                padding: 15px;
                text-align: right;
            }

            [emisor-details-container] {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid $gray;
                padding-left: 5px;
                padding-right: 5px;

                img {
                    max-width: 100px;
                    border-radius: 50%;
                    border: 1px solid $gray;
                }

                .text-container {
                    margin-left: 1rem;
                    display: flex;
                    align-items: center;

                    p {
                        margin: 0;
                    }

                    [name] {
                        font-size: 1.5rem;
                        color: $gray;
                    }

                    [course],
                    [date] {
                        font-size: 1.3rem;
                        color: $gray-light;
                    }
                }
            }
        }

        [conversation] {
            [sub-message] {
                display: flex;
                flex-wrap: wrap;
                max-width: 650px;
                padding: 1.5rem;
                border-bottom: 1px solid #959595;
                margin: auto;

                img {
                    max-width: 50px;
                    align-self: center;
                    border-radius: 50%;
                    border: 1px solid $gray;
                }

                p {
                    font-family: "Lato";
                    margin-left: 1rem;
                    max-width: 500px;
                }
            }
        }

        .ui.reply.form {
            max-width: 600px;
            margin: 2rem auto;
        }
    }


    @media screen and (max-width:1220px) {

        [messages-component-container] {
            [messages-component] {
                grid-template-columns: auto;
            }
        }

    }
}
