@mixin list-data-cards {

    font-family: $fontPoppins;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    column-gap: pxToRem(40);
    row-gap: pxToRem(40);

    >.list-card {

        position: relative;
        width: 365px;
        max-width: 100%;
        padding: pxToRem(25);
        padding-bottom: pxToRem(15);
        border-radius: pxToRem(10);
        border: 1px solid rgba(112, 112, 112, 0.15);
        box-shadow: 0px 3px 6px rgba(112, 112, 112, 0.15);
        background-color: white;
        font-weight: $fwRegular;
        line-height: 1;
        color: #1B1C1D;

        &.height-max-content {
            height: max-content;
        }

        .corner-icon {
            position: absolute;
            top: 0px;
            right: pxToRem(25);
            transform: translateY(-50%);
            padding: pxToRem(14);
            border-radius: pxToRem(14);
            background-color: #F4F3F0;

            >.icon {
                display: grid;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;

                i.icon {
                    font-size: pxToRem(24);
                    color: var(--main-brand-color);

                    &,
                    &::before,
                    &::after {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        >.meta-title {
            font-size: pxToRem(14.5);
            margin-bottom: pxToRem(10);
        }

        >.title {
            font-weight: $fwMedium;
            font-size: pxToRem(22);
            color: var(--main-brand-color);
            margin-bottom: pxToRem(20);
            &.small{
                font-size: pxToRem(18);
            }
        }

        .content {
            .two-columns {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                align-items: center;

                .column {
                    &.rows {
                        display: grid;
                        grid-template-columns: 100%;
                        row-gap: pxToRem(10);
                    }

                    .info-text {
                        display: grid;
                        grid-template-columns: auto auto;
                        column-gap: pxToRem(15);
                        width: max-content;
                        max-width: 100%;
                        align-items: center;

                        >.icon {
                            i.icon {
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                width: 20px;
                                height: 20px;
                                font-size: pxToRem(16);
                                color: var(--main-brand-color);

                                &,
                                &::before,
                                &::after {
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }

                        >.text {
                            font-size: pxToRem(16);
                            font-weight: $fwRegular;
                            line-height: normal;
                        }
                    }
                }

                &.rows-mode {
                    grid-template-columns: 100%;
                    row-gap: pxToRem(20);
                }
            }
        }

        .footer {
            border-top: 1px solid rgba(112, 112, 112, 0.15);
            margin-top: pxToRem(15);
            margin-left: pxToRem(-25);
            margin-right: pxToRem(-25);
            padding-top: pxToRem(20);
            padding-left: pxToRem(25);
            padding-right: pxToRem(25);

            >.controls {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                >.control {

                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    justify-content: space-evenly;
                    max-width: 100%;
                    padding: pxToRem(8);
                    color: var(--main-brand-color);
                    cursor: pointer;

                    >.icon {
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;

                        i.icon {
                            font-size: pxToRem(15);

                            &,
                            &::before,
                            &::after {
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }

                    >.text {
                        font-size: pxToRem(15);
                        font-weight: $fwRegular;
                        line-height: normal;
                    }

                    &.icon {
                        >.icon {
                            i.icon {
                                font-size: pxToRem(15);
                            }
                        }
                    }
                }
            }
        }
    }

    //Header con ícono
    >.list-card {
        >.header-with-icon {

            display: grid;
            grid-template-columns: 50px auto;
            column-gap: 15px;
            margin-bottom: 20px;

            >.icon-container {

                width: 52px;
                height: 52px;
                padding: pxToRem(14);
                border-radius: pxToRem(14);
                background-color: #F4F3F0;

                >.icon {
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;

                    i.icon {
                        font-size: pxToRem(24);
                        color: var(--main-brand-color);

                        &,
                        &::before,
                        &::after {
                            padding: 0;
                            margin: 0;
                        }
                    }
                }
            }

            >.text {
                >.title {
                    font-weight: $fwMedium;
                    font-size: pxToRem(18);
                    line-height: pxToRem(18+5);
                    color: var(--main-brand-color);
                }

                >.description {
                    color: black;
                    padding-top: 5px;

                    >* {
                        font-weight: $fwRegular;
                        font-size: pxToRem(14);
                        line-height: pxToRem(14+5);
                    }

                    >.data {
                        color: #707070;

                        &:not(:last-child) {
                            margin-bottom: 2px;
                        }
                    }
                }
            }

        }
    }
}
