@import 'includes/base';

.ui.header.small {
    margin-top: 0.5rem;
    opacity: 0.5;
}

.ui-pcs.container-sidebar>.content {
    padding-right: 1rem;
    padding-left: 1.8rem;
}

.container-email {

    .title-tag {
        font-weight: bold;
        font-size: 20px;
        color: var(--main-brand-color);
        margin-bottom: 16px;
    }

}
