@import 'includes/base';

.ui.header.small {
    margin-top: 0.5rem;
    opacity: 0.5;
}

.ui-pcs.container-sidebar>.content {
    padding-right: 1rem;
    padding-left: 1.8rem;
}

.container-security {

    max-width: 650px;

    >form.ui.form {

        padding: 1rem 0.5rem;
        min-width: 280px;
        max-width: 1200px;

    }

}
