@import 'includes/base';

.ui.header.small {
    margin-top: 0.5rem;
    opacity: 0.5;
}

.ui-pcs.container-sidebar>.content {
    padding-right: 1rem;
    padding-left: 1.8rem;
}

.seo-view {
    
    .save-button{
        width: 100%;
        display: flex;
        justify-content: end;
    }

}
